@font-face {
  font-family: 'discgent';
  src: url('/fonts/Discgent.ttf');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'discgent-outline';
  src: url('/fonts/Discgent Outline.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: black;
  }
}

@font-face {
  font-family: DiscgentOutline;
  src: local(DiscgentOutline-Regular-),
    url(/path/to/DiscgentOutline-Regular-.woff2) format("woff2"),
    url(/path/to/DiscgentOutline-Regular-.woff) format("woff"),
    url(/path/to/DiscgentOutline-Regular-.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@media screen and (max-width: 800px) {
  .main-portrait {
    width: auto !important;
    height: 100vh !important;
    z-index: -2 !important;
  }

  .main-icon {
    width: 5vw;
    cursor:pointer;
    margin-left: 8vw;
    margin-top: 8vw;
  }

  .main-icons {
    margin-right: -2vw;
    margin-top: -1.5vw;
  }

  .main-fnf {
    font-size: 10vw !important;
  }

  .main-nftword {
    height: 20vh !important;
    width: auto !important;
  }

  .main-watermark {
    height: 10vh !important;
    width: auto !important;
  }

  .main-enternow {
    width: 50vw !important;
    top: 65vh !important;
  }

  .main-chara {
    width: 250vw !important;
    height: auto !important;
    top: auto !important;
    bottom: 0vh !important;
    left: -20vw !important;
    z-index: -1 !important;
  }
}

body{
  background-color: rgb(51,51,51);
}


.landing-title-black {
  font-family: discgent-outline !important;
  color: 'black';
}

.landing-nodinfo-img {
  display: grid;
  padding-left: 20px;
  height: 100%;
}
.landing-nodinfo-img1 {
  display: grid;
  padding-left: 40px;
  height: 100%;
  align-items: end
}


.landing-nodinfo-img img {
  align-self: flex-end !important;
}

.landing-nodinfo-subtitle-number {
  font-family: discgent-outline !important;
  padding-left: 0.3em;
  font-size: 4.5em !important;
}

.landing-nodinfo-subtitle-name {
  font-family: discgent !important;
  font-size: 20px !important;
  text-align: left !important;
  padding-left: 2em;
}

.landing-nodinfo-subtitle-container {
  display: grid !important;
  grid-template-columns: 20% 80% !important;
  width: 100% !important;
  padding-top: 1.6em;
}
.landing-collab-container {
  display: grid !important;
  grid-template-columns: 50% 50% !important;
  width: 100% !important;
  padding-top: 1.6em;
  justify-items: center;
}

.landing-nodinfo-subtitle-smalltext {
  padding: 2.5em;
  font-family: montserrat-bold !important;
  font-size: 1em !important;
  text-align: justify !important;
  
}

.landing-nodinfo {
  border-radius: 5px !important;
  height: 600px !important;
  
}

.landing-nodinfo-fifo {
  border-radius: 5px !important;
  height: 600px !important;
  background: url("/icons/nod.png");
  background-position-x: -50px;
}

.landing-nodinfo-fifo .landing-nodinfo-subtitle-container .landing-nodinfo-subtitle-name,
.landing-nodinfo-fifo .landing-nodinfo-subtitle-container .landing-nodinfo-subtitle-number,
.landing-nodinfo-fifo .landing-nodinfo-subtitle-smalltext {
  color: rgb(51,51,51) !important;
}

.landing-nodinfo-fifo .landing-nodinfo-subtitle-container .landing-nodinfo-subtitle-number {
  font-family: discgent !important;
}

.landing-fnf {
  font-family: discgent;
  color: white;
  position: relative;
}

.landing-fnf h1 {
  font-size: 10vw;
  text-align: center;
  z-index: 2;
}

.landing-fnf h2 {
  margin-top: -5vw;
  font-size: 5vw;
  text-align: center;
  z-index: 2 !important;
}

.landing-fnf img {
  position: absolute;
  z-index: 0 !important;
  left: 0;
  top: 0;
  width: 50vw;
}

.landing-fnf h2 strong {
  font-family: discgent-outline;
}

.landing-nodebox-container {
  display: grid !important;
  grid-template-rows: auto auto auto !important;
  border: none !important;
}

.landing-nodebox {
  display: grid !important;
  grid-template-columns: 30vw auto;
  border-radius: 15px;
}

.landing-nodebox-content {
  display: grid !important;
  grid-template-rows: 10vw auto 10vw !important;
  align-items: center !important;
  height: 100%;
}

.landing-nodebox-content {
  height: 100% !important;
}

.landing-nodebox-boxtitle {
  font-family: discgent !important;
  width: 100% !important;
  font-size: 4vw !important;
  display: grid !important;;
  align-items: center!important;
  justify-content: center!important;
  margin: 0 !important;
  height: 10vw;
  border-top-right-radius: 13px;
}

.landing-nodebox-boxcontent {
  display: grid !important;
  grid-template-columns: 20% auto !important;
  align-items: center !important;
  justify-content: center !important;
}

.landing-nodebox-boxcontent img {
  justify-self: flex-end;
  width: 1.5vw;
  margin-right: 20px;
  margin-bottom: 10px;
}

.landing-nodebox-footer {
  font-size: 2vw !important;
}

@media screen and (max-width: 800px) {
  .landing-nodinfo-container {
    display: grid !important;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto !important;
  }

  .landing-nodinfo, .landing-nodinfo-fifo {
    width: 80vw !important;
    max-width: 80vw !important;
  }


  .landing-nodebox {
    grid-template-columns: 80vw;
    height: 110vw;
  }

  .landing-nodebox img {
    border: none !important;
    justify-self: center !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-left: -10% !important;
  }

  .landing-nodebox-content {
    grid-template-rows: 20vw 50% auto !important;
  }

  .landing-nodebox-boxtitle {
    justify-content: start !important;
    font-size: 6vw !important;
    padding: 0 !important;
    padding-left: 4vw !important;
    margin: 0 !important;
  }

  .landing-nodebox-boxcontent {
    grid-template-columns: 10% 60% !important;
  }

  .landing-nodebox-boxcontent div {
    grid-template-columns: 20% 60% !important;
    font-size: 2vw !important;
    text-align: left;
    padding-right: 5vw;
    padding-left: 2vw;
  }
  
  .landing-nodebox-boxcontent img {
    width: 4vw;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  .landing-nodebox-footer {
    font-size: 2vw !important;
    margin-top: -10vw;
  }
  
  .landing-nodebox-footer button {
    font-size: 10vw !important;
  }
  
}