@font-face {
  font-family: 'discgent';
  src: url('/fonts/Discgent.ttf');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'discgent-outline';
  src: url('/fonts/Discgent Outline.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: black;
  }
}

@font-face {
  font-family: DiscgentOutline;
  src: local(DiscgentOutline-Regular-),
    url(/path/to/DiscgentOutline-Regular-.woff2) format("woff2"),
    url(/path/to/DiscgentOutline-Regular-.woff) format("woff"),
    url(/path/to/DiscgentOutline-Regular-.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@media screen and (max-width: 800px) {
  .main-portrait {
    width: auto !important;
    height: 100vh !important;
    z-index: -2 !important;
  }

  .main-icon {
    width: 5vw;
    cursor:pointer;
    margin-left: 8vw;
    margin-top: 8vw;
  }

  .main-icons {
    margin-right: -2vw;
    margin-top: -1.5vw;
  }

  .main-fnf {
    font-size: 10vw !important;
  }

  .main-nftword {
    height: 20vh !important;
    width: auto !important;
  }

  .main-watermark {
    height: 10vh !important;
    width: auto !important;
  }

  .main-enternow {
    width: 50vw !important;
    top: 65vh !important;
  }

  .main-chara {
    width: 250vw !important;
    height: auto !important;
    top: auto !important;
    bottom: 0vh !important;
    left: -20vw !important;
    z-index: -1 !important;
  }
}

body{
  background-color: rgb(51,51,51);
}


.landing-title-black {
  font-family: discgent-outline !important;
  color: 'black';
}

.landing-nodinfo-img {
  display: grid;
  padding-left: 20px;
  height: 100%;
}

.landing-nodinfo-img img {
  align-self: flex-end !important;
}

.landing-nodinfo-subtitle-number {
  font-family: discgent-outline !important;
  padding-left: 0.3em;
  font-size: 5em !important;
}

.landing-nodinfo-subtitle-name {
  font-family: discgent !important;
  font-size: 20px !important;
  text-align: left !important;
  padding-left: 2em;
}

.landing-nodinfo-subtitle-container {
  display: grid !important;
  grid-template-columns: 20% 80% !important;
  width: 100% !important;
  padding-top: 1.6em;
}
.landing-collab-container {
  display: grid !important;
  grid-template-columns: 50% 50% !important;
  width: 100% !important;
  padding-top: 1.6em;
  justify-items: center;
}

.landing-nodinfo-subtitle-smalltext {
  padding: 1em;
  font-family: montserrat-bold !important;
  font-size: 1em !important;
  text-align: justify !important;
}

.landing-nodinfo {
  border-radius: 5px !important;
  height: 600px !important;
}

.landing-nodinfo-fifo {
  border-radius: 5px !important;
  height: 600px !important;
  background: url("/icons/nod.png");
  background-position-x: -50px;
}

.landing-nodinfo-fifo .landing-nodinfo-subtitle-container .landing-nodinfo-subtitle-name,
.landing-nodinfo-fifo .landing-nodinfo-subtitle-container .landing-nodinfo-subtitle-number,
.landing-nodinfo-fifo .landing-nodinfo-subtitle-smalltext {
  color: rgb(51,51,51) !important;
}

.landing-nodinfo-fifo .landing-nodinfo-subtitle-container .landing-nodinfo-subtitle-number {
  font-family: discgent !important;
}

@media screen and (max-width: 800px) {
  .landing-nodinfo-container {
    display: grid !important;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto !important;
  }

  .landing-nodinfo, .landing-nodinfo-fifo {
    width: 80vw !important;
    max-width: 80vw !important;
  }
}